assignments/assignment_03/data/GCF_000001735.4_TAIR10.1_genomic.fna
assignments/assignment_04/data/GCF_000005845.2_ASM584v2_genomic.fna
assignments/assignment_04/data/GCF_000146045.2_R64_genomic.fna
assignments/assignment_04/data/GCF_001343785.1_ViralMultiSegProj274766_genomic.fna
